button{
background-color: #1d9cf2;
text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #1d9cf2;
    height: 35px;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{
	border:black;
	margin:70px;
}
p {
	font-family: arial;

}
.hola { 
	border:gray 0;
	margin:20px;
}

header {
	background-color: #D2DCE3;
	padding: 0.5rem;
	border: 4px;
}
 
.si{
	border: 4px;
	padding-bottom: 0.5rem;
	background-color: #D2DCE3
	margin:4px;
	margin-right: 0;
	margin-left: 0;
}

.yolo{
	margin-right: 900px;
}

div .hola {
	float: left;
	
}